/* 
.header {
}
.subtitle-top {
    color: red;
}
.text {
    font-size: 25px;
}
.header-list {
    font-size: 25px;
}
.header-item_1 {
    color: green;
}
.header-item_2 {
    font-size: 15px;
}
.header-item_3:hover {
    color: red;
}
.header-item {
}
.subtitle {
    color: blue;
} */
/* .section {
    font-size: 25px;
}
.item {
}
* {
color: brown;
}
p {
    color: green;
}
.title {

} */
h2 {
    color: red;
}
#text {
    font-size: 30px;
}
ul h2 {
    color: green;
}
.item:first-child {
    color: green;
}
.item:nth-child(2) {
    font-size: 10px;
}

.item:nth-child(3):hover {
    color: red;
    cursor: pointer;
}