.header {
}
.subtitle-top {
    color: red;
}
.text {
    font-size: 25px;
}
.header-list {
    font-size: 25px;
}
.header-item1 {
    color: green;
}
.header-item2 {
    font-size: 15px;
}
.header-item3:hover {
    color: red;
}
.header-item {
}
.subtitle {
    color: blue;
}